* {
  margin: 0;
  padding: 0;
  border: 0;
  
}

body {
  margin: 0;
  padding: 0;
  background-color: hsl(30, 38%, 92%);
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode:both
  
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}
main{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 700px;
}

.img-contain,
.content-contain {
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  height: 100%;
}

.img-contain {
  background-color: greenyellow;
  background-image: url("/IMAGES/image-product-desktop.jpg");
  background-size: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.content-contain {
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-left: 25px;
  align-content: center;
  padding-top: 30px;
  padding-right:50px;
}

button {
  width: 270px;
  height: 50px;
  background-color: hsl(158, 36%, 37%);
  border-radius: 10px;
  color: white;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  
}
button:hover {
  height: 50px;
  font-size: 16px;
  background-color: hsl(158, 36%, 37%);
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode:both
}
h5 {
  color: hsl(228, 12%, 48%);
  letter-spacing: 0.5rem;
  font-family: Montserrat;
}

.p {
  font-size: 14px;
  color: hsl(228, 12%, 48%);
  line-height: 25px;
  font-family: Montserrat;
  font-weight: 700;
}

h1{
  font-weight: 700;
  font-family: Fraunces;
  font-size: 40px;
}

.m {
  font-size: 48px;
  color: hsl(158, 36%, 37%);
  font-family: Fraunces;
}

.cart {
  height: 14px;
  width: 14px;
  margin-right: 7px;
}

/*Mobile*/

@media screen and (max-width: 650px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 900px;
    flex-direction: column;
  }
  .img-contain {
    background-image: url("/IMAGES/image-product-mobile.jpg");
    height: 50%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 10px;

  }

  .content-contain{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  button{
    width: 200px;
  }
}
